.container {
    text-align: center;
    width: 400px;        
}
          
#homePageContainer {
    margin-top: 150px;
    color: ghostwhite;
}
          
#containerLoggedInPage {
    margin-top: 60px;              
}
          
html {  
    background: url(https://scontent-iad3-1.cdninstagram.com/t51.2885-15/e35/19535188_333925340372792_6013365887015321600_n.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
          
body {
    background: none;
    color:black;     
}
          
#logInForm {
    display:none;      
}
          
.toggleForms {
    font-weight: bold;    
}